<div class="main-content">
  <div>
    <div *ngFor="let course of courses"
         class="main-content-inner-part-admin">

      <div *ngFor="let day of course.days"
           class="user-card-wrap">

        <div class="user-card">

          <div class="user-card-profile-level">
            <label><b>Course:</b> {{course.name | titlecase }} </label>
          </div>

          <div class="user-card-profile-level">
            <label><b>Date: </b>{{day.courseDate | date: 'dd/MM/yyyy'}} </label>
          </div>

          <div class="user-card-profile-level">
            <label><b>Time:</b> {{course.startTime}} - {{course.endTime}} </label>
          </div>


          <div>
            <label><b style="margin-right: 5px;">Attendance:</b>
              <span *ngIf="day.attendance">Yes</span>
              <span *ngIf="!day.attendance">No</span>
              <div *ngIf="!day.attendance"><b style="margin-right: 5px;">Reason:</b>{{day.reason}}</div>
              <div class="user-card-buttons-actions">
                <button (click)="onYesAttendance(course._id,day._id)">Yes</button>
                <button (click)="editVars(course._id,day._id)"
                        style="margin-left: 10px !important;">No</button>
              </div>
            </label>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div id="myModal"
       *ngIf="isModalOpen"
       class="modal">
    <div class="modal-content">
      <span (click)="onClickCloseModal()"
            class="close">&times;</span>
      <div class="sign-up-line-wrap">
        <label><b>Reson</b></label>
        <input type="text"
               placeholder="Enter the reason why you were missing"
               [(ngModel)]="missingMsg">
        <button type="button"
                class="registerbtn"
                (click)="onNoAttendance()">Send</button>
      </div>
    </div>
  </div>
