<div class="main-content">
  <div>
    <div *ngFor="let course of courses"
         class="main-content-inner-part-admin">

      <div *ngFor="let day of course.days"
           class="user-card-wrap">

        <div class="user-card">

          <div class="user-card-profile-level">
            <label><b>Course:</b> {{course.name | titlecase }} </label>
          </div>

          <div class="user-card-profile-level">
            <label><b>Date: </b>{{day.courseDate | date: 'dd/MM/yyyy'}} </label>
          </div>

          <div class="user-card-profile-level">
            <label><b>Time:</b> {{course.startTime}} - {{course.endTime}} </label>
          </div>


          <div class="user-card-profile-level">
            <label><b style="margin-right: 5px;">Attendance:</b>
              <span *ngIf="day.attendance">Yes</span>
              <span *ngIf="!day.attendance">No</span>
            </label>
          </div>

          <div class="user-card-profile-level">
            <label><b>Reason:</b> {{day.reason}}</label>
          </div>

        </div>
      </div>
    </div>
  </div>
